body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    height: 750px;
    text-align: center;
    font-family: "Bookman Old Style";
    background: #02061A;
}


a:hover {
    background: linear-gradient(white, #02061A);
    color: white;
}

a {
    font-size: 24px;
    border: black 3px solid;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    text-decoration: none;
    padding: 15px;
    width: 250px;
    height: 25px;
    margin-left: 200px;
    margin-top: 5px;

}


div {
    padding-top: 15px;
    margin: 10px;
    font-size: 24px;
    justify-items: center;
    color: black;
    height: 105px;
    width: 675px;
    background: silver;
    border: 5px solid black;
    align-items: center;
    background: linear-gradient(white, silver);
    border-radius: 20px;
    justify-content: space-around;
}
